@using KursovaRabota.ViewModels.UserVMs;

@model DisplayAllUsersViewModel

<h2>Нерегистрирани потребители</h2>

<div>
    <form style="display:flex; flex-direction:row;justify-content: space-between; align-content: center " method="get" asp-action="GetAllUnregistered" asp-controller="User">
        <div style="display:flex; flex-direction: column" class="form-group">
            <label asp-for="@Model.Name">Филтрирай по Име:</label>
            <input asp-for="@Model.Name" class="form-control">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div style="display:flex; flex-direction: column" class="form-group">
            <label asp-for="@Model.Class">Филтрирай по Клас:</label>
            <input asp-for="@Model.Class" class="form-control">
            <span asp-validation-for="@Model.Class" class="text-danger"></span>
        </div>

        <div style="display:flex; flex-direction: column" class="form-group">
            <label for="Subject">Предмет:</label>
            <select id="subjectDropdown" asp-for="SelectedSubject.Id" asp-items="@(new SelectList(Model.Subjects, "Id", "SubjectName"))" class="form-control">
                <option value="">Избери предмет</option>
            </select>
        </div>

        <div style="display:flex; flex-direction: column" class="form-group">
            <label for="Subject">Сортиране по дата:</label>
            <select id="subjectDropdown" asp-for="SortByName" class="form-control">
                <option value=true>Сортиране в низходящ ред</option>
                <option value=false>Сортиране във възходящ ред</option>
            </select>
            <span asp-validation-for="SortByName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="desiredRole">Роля:</label>
            <select asp-for="@Model.DesiredRole" class="form-control" id="desiredRole" required>
                <option value="Teacher">Учител</option>
                <option value="Student">Ученик</option>
            </select>
            <span asp-validation-for="@Model.DesiredRole" class="text-danger"></span>
        </div>

        <button style="max-height: 50px" class="btn btn-primary" type="submit">Филтрирай</button>

    </form>

</div>
@if (Model.Users != null)
{
    @foreach (var user in Model.Users)
    {
        <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <div class="card-body">
                <h5 class="card-title">@user.FirstName @user.LastName</h5>
                <p class="card-text">
                    Потребителско име: @user.UserName<br /> Електронна поща: @user.Email<br />Телефон: @user.PhoneNumber
                </p>
                @if (!string.IsNullOrEmpty(user.DesiredRole))
                {
                    <p class="card-text">Желана роля: @user.DesiredRole</p>
                }
                <form method="get">
                    <button asp-action="ApproveUser" asp-controller="User" type="submit" class="btn btn-primary" asp-route-id="@user.Id">Одобри</button>
                </form>
                <button onclick="confirmDelete('@user.Id')" class="btn btn-danger">Изтриване</button>
            </div>
        </div>
    }
}
else
{
    <p>Няма потребтели</p>
}
<script>
    function confirmDelete(id) {
        var result = confirm("Сигурни ли сте, че искате да изтриете потребителя?");

        if (result) {
            window.location.href = '/User/Delete?id=' + id;
        }
    }
</script>