@using KursovaRabota.ViewModels
@model List<DisplayUserViewModel>

<h2>Потребители</h2>

@foreach (var user in Model)
{
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
        <div class="card-body">
            <h5 class="card-title">@user.FirstName @user.LastName</h5>
            <p class="card-text">
                Потребителско име: @user.UserName<br /> Електронна поща: @user.Email<br />Телефон: @user.PhoneNumber
            </p>
            @if (!string.IsNullOrEmpty(user.DesiredRole))
            {
                <p class="card-text">Желана роля: @user.DesiredRole</p>
            }
            <form method="get">
                <button asp-action="UpdateUser" asp-controller="User" type="submit" asp-route-Id="@user.Id" class="btn btn-primary">Промени</button>
            </form>
            <form method="get">
                <button asp-action="Delete" asp-controller="User" type="submit" class="btn btn-primary" asp-route-Id="@user.Id">Изтрий</button>
            </form>
        </div>
    </div>
}

