@using KursovaRabota.ViewModels.UserVMs
@model UpdateUserViewModel

<h2>Детайли за потребителя</h2>

<form asp-action="UpdateUser" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="FirstName">Име</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserName">Потребителско име</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Имейл</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Телефонен номер</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DesiredRole">Желана роля</label>
        <select asp-for="DesiredRole" class="form-control" id="desiredRole">
            <option value="Teacher">Учител</option>
            <option value="Student">Ученик</option>
        </select>
        <span asp-validation-for="DesiredRole" class="text-danger"></span>
    </div>

    <div class="form-group" id="classDiv">
        <label asp-for="Class">Клас</label>
        <input asp-for="Class" class="form-control"/>
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>

    @if (Model.TeacherSubjects != null && Model.TeacherSubjects.Count > 0)
    {
        <div class="form-group" id="subjectsDiv">
            <label>Изберете предмети:</label>
            <br />
            @foreach (var subject in Model.TeacherSubjects)
            {
                <input type="checkbox" name="SelectedSubjectIds" value="@subject.Id" id="@("subject_" + subject.Id)" @(Model.SelectedSubjectIds != null && Model.SelectedSubjectIds.Contains(subject.Id) ? "checked" : "") />
                <label for="@("subject_" + subject.Id)">@subject.SubjectName</label>
                <br />
            }
        </div>
    }

    <button class="btn btn-primary" type="submit">Обнови</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var desiredRoleSelect = document.getElementById('desiredRole');
        var selectedRole = '@Model.DesiredRole'; // Get the user's role from the model

        // Set the default value to the user's role
        desiredRoleSelect.value = selectedRole;

        // Trigger the change event to show/hide elements based on the default value
        var changeEvent = new Event('change');
        desiredRoleSelect.dispatchEvent(changeEvent);

        // Check the default value and update display
        var subjectsDiv = document.getElementById('subjectsDiv');
        var classDiv = document.getElementById('classDiv');

        if (selectedRole === 'Teacher') {
            subjectsDiv.style.display = 'block';
            classDiv.style.display = 'none';
        } else if (selectedRole === 'Student') {
            subjectsDiv.style.display = 'none';
            classDiv.style.display = 'block';
        } else {
            subjectsDiv.style.display = 'none';
            classDiv.style.display = 'none';
        }
    });

    document.getElementById('desiredRole').addEventListener('change', function () {
        var selectedRole = this.value;

        var subjectsDiv = document.getElementById('subjectsDiv');
        var classDiv = document.getElementById('classDiv');

        if (selectedRole === 'Teacher') {
            subjectsDiv.style.display = 'block';
            classDiv.style.display = 'none';
        } else if (selectedRole === 'Student') {
            subjectsDiv.style.display = 'none';
            classDiv.style.display = 'block';
        } else {
            subjectsDiv.style.display = 'none';
            classDiv.style.display = 'none';
        }
    });
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }


