@using KursovaRabota.ViewModels.CompetitionVMs;
@model List<CompetitionGetViewModel>

<h1>Всички Състезания за които сте записани</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th>Описание</th>
                <th>Предмет</th>
                <th>Тип</th>
                <th>Местоположение</th>
                <th>Брой Записани Участници</th>
                <th>Максимален Брой Участници</th>
                <th>Крайна Дата за Регистрация</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                <tr>
                    <td>@competition.Name</td>
                    <td>@competition.Description</td>
                    <td>@competition.Subject.SubjectName</td>
                    <td>@competition.CompetitionType.Type</td>
                    <td>@competition.Location</td>
                    <td>@competition.CurrentParticipants</td>
                    <td>@competition.MaxParticipants</td>
                    <td>@competition.RegistrationDeadline.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Не сте записани за никакви състезания.</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
