@using KursovaRabota.ViewModels.CompetitionVMs;
@model List<CompetitionGetViewModel>

@{
    ViewData["Title"] = "Всички Състезания";
}

<h1>Деактивирани Състезания</h1>

<div class="mb-3">
    <a asp-controller="Competition" asp-action="Add" class="btn btn-success">Добави Състезание</a>
</div>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th>Описание</th>
                <th>Предмет</th>
                <th>Тип</th>
                <th>Местоположение</th>
                <th>Брой Записани Участници</th>
                <th>Максимален Брой Участници</th>
                <th>Крайна Дата за Регистрация</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                <tr>
                    <td>@competition.Name</td>
                    <td>@competition.Description</td>
                    <td>@competition.Subject.SubjectName</td>
                    <td>@competition.CompetitionType.Type</td>
                    <td>@competition.Location</td>
                    <td>@competition.CurrentParticipants</td>
                    <td>@competition.MaxParticipants</td>
                    <td>@competition.RegistrationDeadline.ToString("yyyy-MM-dd")</td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <form asp-controller="Competition" asp-action="GetAllUsers" method="get">
                                <input type="hidden" name="id" value="@competition.Id" />
                                <button type="submit" class="btn btn-primary">Преглед на Потребители</button>
                            </form>
                            <form asp-controller="Competition" asp-action="Update" method="get">
                                <input type="hidden" name="id" value="@competition.Id" />
                                <button type="submit" class="btn btn-secondary">Промяна на състезание</button>
                            </form>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-controller="Competition" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@competition.Id" />
                                <button type="submit" class="btn btn-danger">Деактивиране</button>
                            </form>
                        }
                        @if (User.IsInRole("Student"))
                        {
                            <form asp-controller="User" asp-action="Subscribe" method="post">
                                <input type="hidden" name="id" value="@competition.Id" />
                                <button type="submit" class="btn btn-primary">Записване</button>
                            </form>

                        }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Няма налични състезания.</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
